/* HEADER */

.header {
    padding: 5.8rem 16.5rem 0;
    position: relative;
}

.header::before {
    content: '';
    position: absolute;
    left: 50%;
    width: 100%;
    height: 45rem;
    background-color: var(--color-primary400);
    border-radius: 50%;

    transform: translateX(-50%) scale(2);

    z-index: -1;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 6.4rem;
}

.nav-link:link, .nav-link:visited {
    padding-bottom: 4px;
}
.nav-link:hover, .nav-link:active {
    color: var(--color-secondary400);
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-hero {
    max-width: 63.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.6rem;
    margin-bottom: 5rem;
}

.heading-hero {
    font-size: 8rem;
    color: #fff;
    text-align: center;
    font-weight: 500;
}

.tailored {
    display: inline-block;
    position: relative;
}

.hero-img-box {
    max-width: 76.7rem;
}

.hero-img {
    width: 100%;
}

.pattern--1 {
    position: absolute;
    left: -5%;
    top: 15%;
}

.pattern--2 {
    position: absolute;
    right: -2%;
    top: 35%;
}

/* FEATURES */

.section-features {
    position: relative;
}

.section-features::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%) scale(2);
    width: 100%;
    height: 45rem;
    z-index: -2;
    background-color: var(--color-primary100);
    border-radius: 50%;
}

.feature-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2.4rem;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature-number {
    display: flex;
    width: 5.6rem;
    height: 5.6rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid var(--color-border);
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 5.6rem;
}

.feature-heading {
    font-size: 3.2rem;
    font-weight: 600;
    margin-bottom: 2.8rem;
    text-align: center;
}

.feature-description {
    text-align: center;
    font-family: 'Manrope', sans-serif;
    line-height: 1.8;
}


/* FOUNDER */
.section-cta {
    padding-top: 24rem;
}
.container--section-cta {
    position: relative;

}

.founder-img {
    width: 45%;
}

.cta-container {
    background-color: var(--color-primary400);
    padding: 6.4rem;
    width: 65%;
    color: #fff;
    margin-left: auto;
    transform: translateY(-80%);
}

.heading-cta {
    font-size: 5.6rem;
    font-weight: 600;
    margin-bottom: 3.2rem;
}

.cta-description {
    line-height: 1.8;
    margin-bottom: 3.2rem;
    font-family: "Manropa", sans-serif;
}

/* FOOTER */

.footer {
   position: relative;
   top: -12rem;
}

.container--footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5.6rem;

}

.social-icons {
    display: flex;
    gap: 2.8rem;
}